<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<a href="..">Back</a>
<table>
    <tr><td>Name</td><td>Zip</td></tr>
{% for neighborhood in neighborhoods %}
    <tr>
        <td> <a href="/party/neighborhood/{{ neighborhood.id }}/edit"> {{ neighborhood.name }} </a></td>
        <td> {{ neighborhood.zip_code }} </td>
    </tr>
    {% empty %}
    <tr><td colspan="4">No party animals....<a href="new/">you should add some</a>!</td></tr>
{% endfor %}
</table>
</body>
</html>